@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}
.parent {
  max-width: 1440px;
}

.card {
  width: 300px;

  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  padding: 15px;
}

img {
  width: 100%;
  background-color: hsl(218, 44%, 22%);
  border-radius: 15px;
  margin-bottom: 15px;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
p {
  text-align: center;
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
}
